[submodule "jhbuild-java-wrapper"]
	path = jhbuild-java-wrapper
	url = https://github.com/document-scanner/jhbuild-java-wrapper.git
[submodule "swing-worker-get-wait-dialog"]
	path = swing-worker-get-wait-dialog
	url = https://github.com/document-scanner/swing-worker-get-wait-dialog.git
[submodule "message-handler-parent"]
	path = message-handler-parent
	url = https://github.com/document-scanner/message-handler-parent.git
